@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
main{
    width: 50%;
    margin: auto;
}
img{
    width: 600px;
}
h2{
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 38.6px;
    background-color: #04146c;
    color: white;
    text-align: center;
    
}
h1{
    font-family: "Source Sans 3", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 88px;
    color: #04146c;
    text-align: center;
}
h3{
    font-family: "Source Sans 3", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 26.6px;
    color: #04146c;
    text-align: center;
}
p{
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: #04146c;
    text-align: center;
    background-color:  #edf7ff;
}